@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth !important;
}

:root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
    --alternative: #2196f3;
}

.dark {
    --black: #fff;
    --black2: #444;
    --white: #333;
    --white2: #444;
}

body {
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    background: var(--white2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: width 0.5s, left 0.5s;
}

.dark .navigation {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.navigation.active {
    width: 0;
}

.navigation ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    white-space: normal;
    display: flex;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 2px;
    opacity: 0.5;
}

.navigation ul li a:hover {
    opacity: 1;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--white);
    min-height: 100vh;
    transition: width 0.5s, left 0.5s;
}

.main.active {
    width: 100%;
    left: 0px;
}

.main .topbar {
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
    left: 300px;
    background: var(--white2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 60px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    transition: width 0.5s, left 0.5s;
}

.dark .main .topbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.main .topbar.active {
    width: calc(100% - 0px);
    left: 0px;
}

.main .topbar .logo {
    color: var(--black);
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4em;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.main .topbar .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var(--black);
}


section {
    position: relative;
    min-height: 100vh;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner .imgBx {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
}

.banner .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3 {
    position: relative;
    font-size: 1.4em;
    color: var(--black);
    letter-spacing: 2px;
    text-transform: uppercase;
}

p {
    color: #777;
}

.dark p {
    color: var(--black);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background: var(--black2);
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}

.dark .btn:hover {
    background: var(--alternative);
}

.socialMedia {
    position: absolute;
    bottom: 20px;
    display: flex;
    /* background: #2196f3; */
}

.socialMedia li {
    list-style: none;
}

.socialMedia li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    font-size: 1.2em;
}

.socialMedia li a:hover {
    background: var(--black2);
    color: #fff;
}

.dark .socialMedia li a:hover {
    background: var(--alternative);
    color: #fff;
}

.adjust {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0 40px;
    padding-top: 80px;
    background: var(--white);
    color: var(--black);
    display: inline-block;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 50px;
    height: 1px;
    background: var(--black);
}

.about .content {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about .content .textBox {
    width: 49%;
    min-width: 49%;
}

.about .content .imgBx {
    margin-left: 40px;
}

.about .content .imgBx img {
    max-width: 100%;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
}

.services .content .serviceBox {
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 50px 20px;
    display: flex;
    background: var(--white2);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dark .services .content .serviceBox:hover {
    background: var(--alternative);
}

.services .content .serviceBox img {
    max-width: 50px;
}

.dark .services .content .serviceBox img {
    filter: invert(1);
}

.services .content .serviceBox h2 {
    font-size: 1.1em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--black);
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.services .content .serviceBox p {
    text-align: center;
}

.project .content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 40px 0;
    width: 100%;
}

.project .content .workBx {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.project .content .workBx .imgBx {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
}

.project .content .workBx:hover .imgBx {
    transform: translateY(-100%);
}

.project .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project .content .workBx .textBx {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(100%);
    transition: 0.5s ease-in-out;
}

.dark .project .content .workBx .textBx {
    background: #444;
}

.project .content .workBx:hover .textBx {
    transform: translateY(0);
}

.project .content .workBx .textBx h3 {
    color: #FFF;
    font-size: 1em;
}

.testimonials .content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    margin: 40px 0;
    width: 100%;
}

.testimonials .content .testimonialsBox {
    background: var(--white2);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.dark .testimonials .content .testimonialsBox:hover {
    background: var(--alternative);
}

.testimonials .content .testimonialsBox .imgBx {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.testimonials .content .testimonialsBox .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .testimonialsBox p {
    font-style: italic;
}

.testimonials .content .testimonialsBox h4 {
    text-align: right;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1em;
    color: var(--black);
    line-height: 1.2em;
    font-weight: 600;
    border-right: 4px solid var(--black);
    padding-right: 10px;
}

.testimonials .content .testimonialsBox h4 span {
    text-transform: initial;
    color: #AAA;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 0.7em;
}

.contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.contact .contactForm .row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact .contactForm .row input,
.contact .contactForm .row2 textarea {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: var(--black);
    background: var(--white2);
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.contact .contactForm .row2 textarea {
    resize: none;
    height: 200px;
}

.contact .contactForm .row2 input[type="submit"] {
    background: var(--black2);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
    border: none;
}

.dark .contact .contactForm .row2 input[type="submit"]:hover {
    background: var(--alternative);
}

.copyright {
    position: relative;
    bottom: 0;
    padding: 10px 40px;
    text-align: center;
}

/* Dark & Light Mode Switch */
.themeSwitch {
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 30px;
    height: 30px;
    background: var(--black);
    color: var(--white);
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.themeSwitch::before {
    content: '\f186';
    font-family: fontAwesome;
}

.dark .themeSwitch::before {
    content: '\f185';
}

.themeSwitch::after {
    content: 'Switch to Night Mode';
    position: absolute;
    left: 40px;
    font-size: 0.7em;
    color: var(--black);
    white-space: nowrap;
    pointer-events: none;
    font-weight: 300;
    letter-spacing: 1px;
}

.dark .themeSwitch::after {
    content: 'Switch to Ligh Mode';    
}


/* Responsiveness */

@media (max-width: 1007px) {
    .navigation {
        left: -100%;
    }

    .navigation.active {
        left: 0;
        width: 100%;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 100%;
    }

    .main .topbar {
        width: 100%;
        left: 0;
        padding: 0 20px;
    }

    .navigation ul {
        padding: 20px 20px;
    }

    .banner .imgBx {
        width: 250px;
        height: 250px;
    }

    .banner h3,
    .banner p {
        text-align: center;
    }

    .adjust {
        padding: 0 20px;
        padding-top: 80px;
    }

    .about .content {
        flex-direction: column;
    }

    .about .content .textBox {
        width: 100%;
        min-width: 100%;
    }

    .about .content .imgBx {
        margin-left: 0;
        margin-top: 20px;
    }

    .services .content {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .project .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .themeSwitch {
        left: 20px;
    }
}

@media (max-width: 640px) {
    .services .content {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .project .content {
        grid-template-columns: repeat(1, 1fr);
    }

    .testimonials .content {
        grid-template-columns: repeat(1,1fr);
    }

    .contact .contactForm .row {
        grid-template-columns: repeat(1, 1fr);
    }

}